@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*#474E68 #50577A #6B728E*/
* {
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
   line-height: 1.4;
}

p {
   color: #8c91aa;
}

a {
   color: #25a2fb;
   text-decoration: none;
   transition: all 0.3s;
}

button {
   transition: all 0.3s;
}

body {
   display: flex;
   background: #2d2e3a;
   justify-content: center;
   font-size: 14px;
}

body>div {
   width: 100%;
   background: #2f303f;
   color: white;
   padding: 2em 1.5em;
   padding-bottom: 0;
}

.fa-bars {
   position: absolute;
   right: 0;
   transform: translateY(-0.3em);
   font-size: 2em
}

.infoarea {
   display: flex;
   padding: 1em 0;
}

.infoarea>div {
   flex: 1;
}

.infoarea>div>h4 {
   font-size: 1.5em;
}

.header {
   gap: 1.5em;
   position: relative;
   flex-direction: column;
   display: flex;
   gap: 2em
}

.header>div>h2 {
   font-size: 2em;
}

.mtheader {
   margin-top: 0.6em
}

.pp {
   width: 7em;
   border-radius: 1em
}

.fa-check-circle {
   background: black;
   position: absolute;
   color: white;
   font-size: 1.2em;
   transform: translate(-0.5em, 0);
   outline: 0.2em solid #2d2e3a;
   border-radius: 1em;
}

.footer {
   padding: 1em 0;
}

.footer>div {
   display: flex;
   gap: 1.5em;
   margin: 1em 0;
}

.footer i {
   color: white !important;
   font-size: 2em
}

.buttonarea {
   padding: 1em 0;
   display: flex;
   gap: 1em;
   align-items: center;
}

.buttonarea>button {
   background: #25a2fb;
   border-radius: 0.5em;
   flex: 1;
   border: none;
   padding: 0.6em;
   color: white;
   font-size: 1.2em
}

.buttonarea>button:hover {
   background: #1971af;
   transform: translateY(0.1em);
}

.buttonarea>a {
   background: #474E68;
   color: white;
   padding: 0.9em 1.5em;
   border-radius: 0.7em;
}

.buttonarea>a:hover {
   transform: translateY(0.1em);
}

.navs {
   display: flex;
   gap: 0.5em;
   margin: 1em 0;
   padding: 0.3em;
   border-radius: 0.7em;
   background: #474E68;
}

.navs>a {
   padding: 0.75em 0.5em;
   border-radius: 0.5em;
   flex: 1;
   color: #8c91aa;
   text-align: center;
}

.navs>.active {
   background: #25a2fb;
   color: white;
}

.skill {
   margin: 2em 0;
}

.skill>h3 {
   font-size: 2em;
}

@keyframes showup {
   from {
      opacity: 0;
      transform: translateY(0.5em)
   }

   to {
      opacity: 1;
      transform: translateY(0em)
   }
}

.edu {
   display: flex;
   flex-direction: column;
   gap: 2em;
   padding: 1em 0;
}

@keyframes showright {
   from {
      opacity: 0;
      transform: translateX(-1em)
   }

   to {
      opacity: 1;
      transform: translateX(0em)
   }
}

.cardex {
   padding: 1.5em 0;
   animation: showright 0.7s ease;
}

.cardex:last-child {
   padding-bottom: 0;
}

.headex>div>h4 {
   font-size: 1.5em;
}

.headex {
   display: flex;
   align-items: center;
   gap: 1.5em;
}

.headex>img {
   width: 4em;
   padding: 0.4em;
   height: 4em;
   object-fit: cover;
   border-radius: 1em;
   background: white;
}

.educard {
   animation: showup 0.7s ease;
   padding: 0.8em;
   display: flex;
   align-items: center;
   gap: 1.5em;
   border-radius: 0.5em;
   background: #3c4256;
   outline: 1px solid #464a58;
}

.educard>img {
   padding: 0.7em;
   border-radius: 0.5em;
   background: white;
}

.jobtask {
   padding: 1em 0;
}

.jobtask>h4 {
   margin-top: 0.5em;
   font-size: 1em;
   margin-bottom: 0.5em;
}

.jobtask>div {
   display: flex;
   margin-bottom: 0.8em;
   gap: 1em;
   align-items: center;
}

.secondsec {
   padding-top: 0.8em
}

.secondsec>p {
   line-height: 1.5;
}

.secondsec>p>i {
   display: inline-block;
   margin-right: 0.5em;
}

.jobtask>div>i {
   font-size: 0.6em;
   color: #8c91aa;
}

.educard a {
   display: inline-block;
   margin-bottom: 0.1em;
}

.blue {
   color: #25a2fb;
}

.educard>div>div {
   margin-top: 0.5em;
}

.educard h4 {
   font-size: 1.3em
}

.educard a {
   color: white;
}

.skill {
   margin: 5em 0;
}

.skill>div {
   padding: 2em 0;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 2em;
}

.skill>div>img {
   height: 3em;
   filter: grayscale(100%);
}

.next {
   height: 1.5em !important;
}

.next,
.lodash {
   filter: invert(0.5) !important;
}

.skill i {
   font-size: 3.5em;
   color: rgb(125, 124, 124);
}

@media screen and (min-width: 768px) {
   body>div {
      width: 50%;
   }
}